@font-face {
  font-family: 'Fira Code Regular';
  src: url("../fonts/FiraCode-Regular.woff") format("woff"),
}

@font-face {
  font-family: 'Fira Code Medium';
  src: url("../fonts/FiraCode-Medium.woff") format("woff"),
}

@font-face {
  font-family: 'Fira Code Light Regular';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/FiraCode-LightRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Fira Code Light Bold';
  font-style:  bold;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/FiraCode-BoldRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Cantarell';
  src: url("../fonts/Cantarell-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Cantarell Italic';
  src: url("../fonts/Cantarell-Italic.woff2") format("woff2");
}
@font-face {
  font-family: 'Cantarell Bold';
  src: url("../fonts/Cantarell-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'PTSerif';
  src: url("../fonts/PTSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'PTSerif Italic';
  src: url("../fonts/PTSerif-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'PTSerif Bold';
  src: url("../fonts/PTSerif-Bold.woff2") format("woff2");
}
